//text colors
.hb-text-primary {
  color: #8bc53f !important;
}
.hb-text-secondary {
  color: #404041 !important;
}
.text-grey {
  color: #404041 !important;
}
.text-grey-light {
  color: #acacac !important;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

//font sizes
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-27 {
  font-size: 27px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-29 {
  font-size: 29px !important;
}
.fs-30 {
  font-size: 30px !important;
}

//font weights
.fw-1 {
  font-weight: 100 !important;
}
.fw-2 {
  font-weight: 200 !important;
}
.fw-3 {
  font-weight: 300 !important;
}
.fw-4 {
  font-weight: 400 !important;
}
.fw-5 {
  font-weight: 500 !important;
}
.fw-6 {
  font-weight: 600 !important;
}
.fw-7 {
  font-weight: 700 !important;
}
.fw-8 {
  font-weight: 800 !important;
}
.fw-9 {
  font-weight: 900 !important;
}

// text size
// h
.h2-lg {
  font-weight: 800;
  font-size: 36px;
}
.h3-md {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.h3-sm {
  font-weight: 600;
  font-size: 14px;
}
.h3-lg {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.h4-sm {
  font-weight: 500;
  font-size: 18px;
}
.h4-lg {
  font-weight: 500;
  font-size: 20px;
}
.h5-sm {
  font-weight: 600;
  font-size: 16px;
}
.h5-lg {
  font-weight: 600;
  font-size: 18px;
}
.h6-sm {
  font-weight: 500;
  font-size: 12px;
}
.h6-lg {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
// p
.p-md {
  font-weight: 300;
  font-size: 16px;
  color: #404041;
}
.p {
  font-weight: 400;
  font-size: 20px;
  color: #404041;
}
.btn-text-md {
  font-weight: 500;
  font-size: 13px;
}
.btn-text-sm {
  font-weight: 500;
  font-size: 10px;
}

//caption
.c-md {
  font-weight: 500;
  font-size: 12px;
}

//text ellipsis
.text-elps {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-elps-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-elps-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-elps-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

//text break & prevent overflow
.text-break {
  overflow: hidden;
  text-overflow: ellipsis;
}

//text
.text-nowrap {
  white-space: nowrap;
}

//border radius
.br-4 {
  border-radius: 4px !important;
}
.br-5 {
  border-radius: 5px !important;
}
.br-6 {
  border-radius: 6px !important;
}
.br-10 {
  border-radius: 10px !important;
}

//cursor
.cursor-pointer {
  cursor: pointer;
}

.ignore-space {
  br {
    display: none;
  }
  & * {
    margin-bottom: 0;
  }
}
